* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
}

main {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    background: -webkit-linear-gradient(90deg, #7773c6, #9d6cc0, #bd64b2);
    background: linear-gradient(90deg, #7773c6, #9d6cc0, #bd64b2);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2,
p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

.glass {
    z-index: 2;
    display: flex;
    min-height: 80vh;
    width: 60%;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
}

.circle1,
.circle2,
.circle3,
.circle4 {
    position: absolute;
    background: white;
    border-radius: 50%;
}

.circle1,
.circle2 {
    height: 20rem;
    width: 20rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.4)
    );
}

.circle3,
.circle4 {
    height: 11rem;
    width: 11rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.3)
    );
}

.circle1 {
    right: 15%;
    top: 5%;
}

.circle2 {
    bottom: 5%;
    left: 15%;
}

.circle3 {
    top: 17%;
    left: 5%;
}

.circle4 {
    bottom: 20%;
    right: 5%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.5)
    );
    border-radius: 2rem;
}

.user-link {
    text-decoration: none;
}

.user-link h3:hover {
    color: rgb(157, 103, 195, 0.5);
}

.links a {
    text-decoration: none;
}

.link {
    display: flex;
    margin: 1rem 0rem;
    padding: 10px 16px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb, 0.2);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.21);
}

.link h2 {
    padding: 0rem 1rem;
}

.link:hover {
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.28);
}

.lord {
    background: -webkit-linear-gradient(90deg, #ae8bf0, #65b2e2, #2addd8);
    background: linear-gradient(90deg, #ae8bf0, #65b2e2, #2addd8);
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin: 1rem;
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.lord h2 {
    color: white;
    font-weight: 600;
}

.lord:hover {
    filter: brightness(1.05);
}

.games {
    flex: 2;
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.status {
    margin-bottom: 1rem;
}

.status h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.status input {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 60%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.status input::-webkit-input-placeholder {
    color: #827494;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 0.5rem 0;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info h2 {
    font-size: 20px;
    font-weight: 600;
}

.card:hover {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 75ms;
    transition-duration: 250ms;
    transform: translateY(-0.25rem);
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
}

.progress-100,
.progress-70,
.progress-30 {
    background: -webkit-linear-gradient(90deg, #ae8bf0, #65b2e2, #2addd8);
    background: linear-gradient(90deg, #ae8bf0, #65b2e2, #2addd8);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress-100::after,
.progress-70::after,
.progress-30::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f0d9f6;
    position: absolute;
    left: 100%;
}

.progress-100::after {
    left: 100%;
}

.progress-70::after {
    left: 70%;
}

.progress-30::after {
    left: 30%;
}

.percentage {
    font-weight: bold;
    background: linear-gradient(90deg, #7964bf, #9d67c3, #a94e9e);
    background: -webkit-linear-gradient(90deg, #7964bf, #9d67c3, #a94e9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
